name: researcher

on:
  pull_request:
    branches: [ main, develop ]

jobs:
  web:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./web
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: '22'
    - name: Install dependencies
      run: yarn install --frozen-lockfile # the yarn.lock is updated according to the node version
    - name: Lint Code
      run: yarn eslint
    - name: Run tests
      run: yarn test
